<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%cyan(%thread)][%highlight(%-5level)][%boldGreen(%logger{5})] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="io.netty" level="INFO"/>
    <logger name="alexandria" level="DEBUG"/>
    <logger name="catalogue" level="DEBUG"/>
    <logger name="arpinum" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>